# The Tech Lead owns the SCM Plan itself
README.md          MbanduVincent

# The Database Team owns all SQL files
*.sql              MbanduVincent

# The Frontend Team owns all Javascript
*.js              MbanduVincent
